.app-header {
    margin: auto;
    padding: 1rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
}

.app-subheader {
    margin: auto;
    padding: 0.5rem;
    color: #e5e7eb;
    text-align: center;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 10rem;
    width: auto;
    text-overflow: clip;
}

.app-location {
    margin: auto;
    font-weight: bold;
    font-style:oblique;
}

.app-header-icon
{
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
    rotate: 20deg;
}